<!DOCTYPE html>
<html>
<head>
    <title>Syncfony</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://cdn.peerjs.com/0.3/peer.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Lato|Raleway:400,200' rel='stylesheet' type='text/css'>
    <script>
            if(sessionStorage.roomID)
            {
            	window.location.replace("index.html");
            }
            if(sessionStorage.peerID)
            {
                var peer = new Peer(sessionStorage.peerID, {key: 'cnkznl0wfzf9wwmi'});
            }
            else
            {
                var peer = new Peer({key: 'cnkznl0wfzf9wwmi'});
            }
            peer.on('open', function(id) {
                sessionStorage.peerID = id;
                console.log('Peer ID: ' + id);
            });
            
            function createRoom()
            {
                if(sessionStorage.roomID) return false;
                $.ajax({url: "/room/create", data: "{'client':'"+sessionStorage.peerID+"'}", method: "POST", success: function(result){
                    var obj = jQuery.parseJSON(result);
                    sessionStorage.roomID = obj.room;
                    window.location.replace("index.html");
                }});
            }
            
            function joinRoom()
            {
                if(sessionStorage.roomID) return false;
                var sendData = JSON.stringify({ room: $('#joinRoomID').val(), client: sessionStorage.peerID });
                $.ajax({url: "/room/join", data: sendData, method: "POST", success: function(result){
                	sessionStorage.roomID = ('#joinRoomID').val();
                    sessionStorage.tempClientStore = result;
                    window.location.replace("index.html");
                }});
            }
            </script>
</head>
<body>
    <div class="card middle">
        <span class="logo">SYNCFONY</span>
        <div class="divider"></div>
        <div class="joinroom">Nickname<input type="text" placeholder="i.e. Tom"></div>
        <div class="divider"></div>
        <div class="joinroom">Join room with ID<input type="text" placeholder="XXXXXXXX" name="joinRoomID" id="joinRoomID" /></div>
        <button class="green button" onclick="joinRoom()">Enter</button> or <button class="button" onclick="createRoom()">Create New Room</button>
    </div>
</body>
</html>